@model IEnumerable<InDaCompany.Models.Ticket>

@{
    ViewData["Title"] = "Ticket";
}

<div class="text-center mb-5">
    <h2 class="display-4 text-indigo">
        <i class="bi bi-ticket-detailed"></i> Ticket System
        </h2>
</div>

<div class="row-md">
    <form asp-action="Search" method="get" class="d-flex me-3 mb-3">
        <input type="search" name="searchBar" class="form-control me-2 search-box" placeholder="Cerca..." aria-label="Cerca">
        <button class="btn text-white" id="btn-indigo" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </form>
</div>

<table class="table table-bordered" id="table-container">
    <thead>
        <tr>
            <th>ID</th>
            <th>Utente</th>
            <th>Descrizione</th>
            <th>Stato</th>
            <th>Data Apertura</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.ID</td>
                <td>@item.CreatoDaID</td>
                <td>@item.Descrizione</td>
                <td>@item.Stato</td>
                <td>@item.DataApertura.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm" id="btn-indigo">
                        <i class="bi bi-pencil"></i> Modifica
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Elimina
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .text-indigo {
        color:indigo;
    }

    #btn-indigo {
        color: #fff;
        background-color: indigo;
        border-color: indigo;
    }

    #btn-indigo:hover {
        color: #fff;
        background-color: rgb(141, 65, 195);
        border-color: indigo;
    }

    #table-container {
        border: 1px solid indigo;
    }
</style>