@model ThreadForum

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="card mb-4 shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">@Model.Titolo</h5>
        <small class="text-muted">@Model.DataCreazione.ToString("dd/MM/yyyy HH:mm")</small>
    </div>

    <div class="card-body">
        @if (Model.Immagine != null)
        {
            <img src="@Url.Action("GetImage", "ThreadForum", new { id = Model.ID })"
                 alt="Immagine Thread"
                 class="img-fluid mb-3 rounded mx-auto d-block" />
        }

        <p class="card-text">@Model.Testo</p>
    </div>

    <div class="card-body">
        @if (Model.Messages != null && Model.Messages.Any())
        {
            @foreach (MessaggioThread commento in Model.Messages)
            {
                var utenti = (List<Utente>)ViewBag.Utenti;
                var infoUtente = utenti.Where(u => u.ID == commento.AutoreID)
                .Select(u => new { NomeECognome = u.Nome + " " + u.Cognome, Email = u.Email })
                .FirstOrDefault();
                <hr />
                <div class="d-flex justify-content-between">
                        <p class="fw-bold mb-0">@infoUtente.NomeECognome</p>
                    <div class="d-flex flex-column align-items-end">
                        <p class="text-muted small mb-0">@commento.DataFormattata</p>
                @if (User.FindFirst("UserId")?.Value == commento.AutoreID.ToString())
                    {
                            <a href="#" class="btn btn-link text-danger p-0 border-0 fs-7 deleteCommentButton" data-id="@commento.ID">
                            <i class="bi bi-trash me-1"></i>Elimina commento
                        </a>
                    }
                    </div>
                </div>
                <p class="card-text">@commento.Testo</p>
            }
        }
        else
        {
            <p class="card-text fst-italic">Commenta per primo!</p>
        }
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                @if (User.FindFirst("UserId")?.Value == Model.AutoreID.ToString() 
                || User.IsInRole("Admin")
                || User.IsInRole("Manager"))
                {
                    <a asp-controller="ThreadForum" asp-action="Edit" asp-route-id="@Model.ID"
                       class="btn btn-sm btn-indigo me-2">
                        <i class="bi bi-pencil me-1"></i>Modifica
                    </a>
                }

                <button class="btn btn-outline-indigo btn-sm me-2 likeButton"
                        data-thread-id="@Model.ID"
                        onclick="toggleLike(@Model.ID)">
                    <i class="ti ti-thumb-up"></i>
                    Mi piace (<span id="likeCount-@Model.ID">0</span>)
                </button>


                <button class="btn btn-outline-indigo btn-sm btnComment" data-thread-id="@Model.ID">
                    <i class="bi bi-chat-dots me-1"></i>Commenti
                </button>
            </div>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                <a href="#" class="btn btn-danger btn-sm deleteButton" data-id="@Model.ID" data-titolo="@Html.Raw(Model.Titolo)">
                    <i class="bi bi-trash me-1"></i> Elimina
                    </a>                    
                }

        </div>

        <div class="comments d-none" id="comments-@Model.ID">
            <form asp-controller="MessaggiThread" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="ThreadID" value="@Model.ID" />
                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                <div class="mb-3">
                    <textarea name="Testo" class="form-control" rows="2"
                              placeholder="Scrivi un commento..." required></textarea>
                </div>
                <button type="submit" class="btn btn-sm btn-indigo">
                    <i class="bi bi-send me-1"></i>Invia
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1"
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Conferma eliminazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="testoDelModal" class="modal-body">
                Sei sicuro di voler eliminare questo Thread?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <form id="deleteForm" method="post" asp-controller="ThreadForum" asp-action="DeleteConfirmed">
                    <input type="hidden" name="id" id="deleteId">
                    <button type="submit" class="btn btn-danger">Elimina</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteCommentoModal" tabindex="-1"
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Conferma eliminazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="testoDelModal" class="modal-body">
                Sei sicuro di voler eliminare il commento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <form id="deleteForm" method="post" asp-controller="MessaggiThread" asp-action="DeleteConfirmed">
                    <input type="hidden" name="id" id="deleteCommentId">
                    <button type="submit" class="btn btn-danger">Elimina</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.deleteButton').click(function (e) {
            e.preventDefault();

            var id = $(this).data('id');
            var nomeThread = $(this).data('titolo');


            $('#testoDelModal').text('Sei sicuro di voler eliminare il thread "' + nomeThread + '" ?');

            $('#deleteId').val(id);

            $('#confirmDeleteModal').modal('show');

        });
        $('.deleteCommentButton').click(function (e) {
            e.preventDefault();

            var id = $(this).data('id');

            $('#deleteCommentId').val(id);

            $('#confirmDeleteCommentoModal').modal('show');

        });
    });
</script>
